/*---overwrite button aesthetics---*/

label{
  display:block;
}

input+label{
  display:block;
  cursor:pointer;
}

input{
  border: 3px solid hotpink;
  background-color:pink;
}

button{
  border:3px solid limegreen;
  cursor:pointer;
}
